In [1]:

import pandas as pd
import numpy as np
df = pd.DataFrame({'Country':['China','China', 'India', 'India', 'America', 'Japan', 'China', 'India'], 
                   'Income':[10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000],
                    'Age':[5000, 4321, 1234, 4010, 250, 250, 4500, 4321]})

In [4]:
df

   Country  Income   Age
0    China   10000  5000
1    China   10000  4321
2    India    5000  1234
3    India    5002  4010
4  America   40000   250
5    Japan   50000   250
6    China    8000  4500
7    India    5000  4321

In [14]:
num_agg = [('Age','min'), ('Income','min')]
print(df.groupby('Country', as_index=False)['Age'].agg(num_agg))

   Country   Age  Income
0  America   250     250
1    China  4321    4321
2    India  1234    1234
3    Japan   250     250

In [39]:

data=df.groupby('A', as_index=False)
data.agg({'B':'mean','C':'sum'})

   A         B    C
0  a  2.000000  301
1  b  5.500000  183
2  c  4.333333  372

In [40]:
data['B'].agg([('mean',np.mean), ('std', np.std)])

                                   mean            \
  <function mean at 0x0000017F58A3F048>
                                   mean      mean
A
a                              2.000000  2.000000
b                              5.500000  5.500000
c                              4.333333  4.333333

                                   std
  <function std at 0x0000017F58A3F288>
                                   std      std
A
a                              1.00000  1.00000
b                              2.12132  2.12132
c                              3.21455  3.21455

In [20]:
data['B'].agg(mean=np.mean)

       mean
A
a  2.000000
b  5.500000
c  4.333333

In [21]:
data['B'].agg(mean=np.mean,std=np.std)

       mean      std
A
a  2.000000  1.00000
b  5.500000  2.12132
c  4.333333  3.21455

In [25]:
data['B'].agg(mean=np.mean,size=np.size)

       mean  size
A
a  2.000000     3
b  5.500000     2
c  4.333333     3

In [27]:
data['B'].agg(mean=np.mean,size=np.size)

       mean  size
A
a  2.000000     3
b  5.500000     2
c  4.333333     3

In [28]:
data.agg({'mean':np.mean,'size':np.size})

SpecificationError: nested renamer is not supported

In [29]:
data.agg([('mean',np.mean), ('std', np.std)])

          B                    C
       mean      std        mean        std
A
a  2.000000  1.00000  100.333333   4.509250
b  5.500000  2.12132   91.500000   6.363961
c  4.333333  3.21455  124.000000  34.394767

In [31]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': ['a', 'b', 'a', 'c', 'a', 'c', 'b', 'c'], 
                       'B': [2, 7, 1, 3, 3, 2, 4, 8], 
                       'C': [100, 87, 96, 130, 105, 87, 96, 155]})

In [32]:
a=[]

In [33]:
type(a)

list

In [34]:
b=()

In [35]:
type(b)

tuple

In [37]:
import keras.backend as K

Using TensorFlow backend.

ModuleNotFoundError: No module named 'tensorflow'

In [38]:
import keras.backend as K

Using TensorFlow backend.

In [42]:
df.groupby('A', as_index=False)['B'].agg({'mean':np.mean, 'std': np.std})

   A      mean      std
0  a  2.000000  1.00000
1  b  5.500000  2.12132
2  c  4.333333  3.21455

In [43]:
df.groupby('A')['B'].agg([('mean',np.mean), ('std', np.std)])

       mean      std
A
a  2.000000  1.00000
b  5.500000  2.12132
c  4.333333  3.21455

In [1]:
x = 10
 
def func():
    y = 20
    a = eval('x + y')
    print('a: ', a)
    b = eval('x + y', {'x': 1, 'y': 2})
    print('b: ', b)
    c = eval('x + y', {'x': 1, 'y': 2}, {'y': 3, 'z': 4})
    print('c: ', c)
    d = eval('print(x, y)')
    print('d: ', d)
 
func()

a:  30
b:  3
c:  4
10 20
d:  None

In [2]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-2-0b640320f694>, line 1)

In [3]:
print(x)

10